.button .counter {
    border: 2px solid indianred;
    border-radius: 10px;
    background-color: lavender;
    color: rgb(197, 47, 17);
    padding: 2px 5px;
    margin-left: 5px;
    vertical-align: super;
}

.button {
    min-height: 40px;
}

.button, .button>span {
    background-color: teal;
    color: lavender;
    padding-left: 4px;
    vertical-align: super;
}
.button .icon {
    width: 24px;
    height: 24px;
}